/*가로 스크롤*/
.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 2rem;          
    padding: 10px 1.5rem 20px 1.5rem; 
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
.scroll-btn {
    z-index: 10;
    margin: 0 5px;
}

/*섹션*/
.section-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.section-subtitle {
    font-size: 0.85rem;
    color: #6c757d;
    margin-bottom: 1rem;
}