.gb-nav-tabs .gb-nav-link {
    color: #6c757d;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    background: transparent;
    width: 100%;
    padding-bottom: 10px;
}
.gb-nav-tabs .gb-nav-link.active {
    color: #000;
    border-bottom: 3px solid #000;
    background: transparent;
    padding-bottom: 10px;
}
.gb-nav-item {
    flex: 1;
    text-align: center;
    cursor: pointer;
}