.top-product-image-full {
    width: 100%;
    overflow: hidden;
}

.top-product-image-full img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 1rem;
}

.group-buy-product {
    background-color: #fff;
}