.search-header {
    padding: 15px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.search-input-group {
    border-radius: 25px;
    background-color: #f1f3f5;
    padding: 5px 15px;
}
.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 0;
}
.search-input::placeholder {
    color: #adb5bd;
}
.header-icon {
    font-size: 1.5rem;
    color: #495057;
}
.edit-box {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    width: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 1000;
    font-size: 0.75rem;
    color: #495057;
}
.edit-box.show {
    display: block !important;
}
#addPeriodBuy, #addQuantityBuy{
    cursor: pointer;
}